header {
  height: 50px;
  width: 880px;
  background: #b0c0f3;
  border: 1px solid #010d35;
  border-bottom: none;
  color: #010d35;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  line-height: 60px;
  margin: 0 10px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  border: 1px solid #010d35;
}

.text {
  font-size: 15px;
  color: #010d35;
  font-family: Verdana, sans-serif;
}

.text_1 {
  font-size: 15px;
  color: #010d35;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
.title {
  font-size: 25px;
  color: #010d35;
  font-family: Verdana, sans-serif;
  font-style: italic;
}

.block {
  display: flex;
  align-items: flex-start;
  background: #e5f7f6;
  color: #010d35;
  border-bottom: 1px solid #010d35;
  top: 59px;
  left: 320px;
  width: 880px;
  height: 400px;
}

.block_image {
  margin-right: 15px;
}

.block_body {
  flex: 1;
  font-size: 15px;
  color: #010d35;
  font-family: Verdana, sans-serif;
}

.block_section {
  display: flex;
  flex-direction: row;
}

.block_left {
  flex: 45%;
  background: #e5f7f6;
  padding: 10px;
  color: #010d35;
  border-right: 1px solid #285554;
  height: 700px;
}

.block_right {
  flex: 45%;
  background: #e5f7f6;
  padding: 10px;
  color: #010d35;
  height: 700px;
}

footer {
  height: 100px;
  width: 880px;
  background: #b0c0f3;
  border: 1px solid #010d35;
  border-top: none;
  color: #010d35;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

footer p {
  margin: 5px;
}
